
<html>
<head>
    <title> homepage </title>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <h1>Welcome{{name}}!</h1>
</head>
<body>

    <a href="www.google.com"> not google </a>
    <ul>
        {% for i in city %}
        <li>{{ i }}</li>
        {% endfor %}
    </ul>
    <form action=""method="post">
    {{ form.hidden_tag() }}
    <p>
    {{ form.cityname.label }}<br>
    {{ form.cityname(size=32) }}
    </p>
    <p>
    {{ form.submit() }}
    </p>
    </form>

</body>
</html>